<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <listener>
        <listener-class>org.example.AppContextListener</listener-class>
    </listener>

    <!-- Disease -->
    <servlet>
        <servlet-name>DiseaseGetServlet</servlet-name>
        <servlet-class>org.example.controller.disease.DiseaseGetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DiseaseGetServlet</servlet-name>
        <url-pattern>/diseases</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiseaseCreateServlet</servlet-name>
        <servlet-class>org.example.controller.disease.DiseaseCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DiseaseCreateServlet</servlet-name>
        <url-pattern>/diseases/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiseaseUpdateServlet</servlet-name>
        <servlet-class>org.example.controller.disease.DiseaseUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiseaseUpdateServlet</servlet-name>
        <url-pattern>/diseases/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiseaseDeleteServlet</servlet-name>
        <servlet-class>org.example.controller.disease.DiseaseDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiseaseDeleteServlet</servlet-name>
        <url-pattern>/diseases/delete/*</url-pattern>
    </servlet-mapping>

    <!-- Symptom -->
    <servlet>
        <servlet-name>SymptomGetServlet</servlet-name>
        <servlet-class>org.example.controller.symptom.SymptomGetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SymptomGetServlet</servlet-name>
        <url-pattern>/symptoms</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SymptomCreateServlet</servlet-name>
        <servlet-class>org.example.controller.symptom.SymptomCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SymptomCreateServlet</servlet-name>
        <url-pattern>/symptoms/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SymptomUpdateServlet</servlet-name>
        <servlet-class>org.example.controller.symptom.SymptomUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SymptomUpdateServlet</servlet-name>
        <url-pattern>/symptoms/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SymptomDeleteServlet</servlet-name>
        <servlet-class>org.example.controller.symptom.SymptomDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SymptomDeleteServlet</servlet-name>
        <url-pattern>/symptoms/delete/*</url-pattern>
    </servlet-mapping>

    <!-- Pharmacy -->
    <servlet>
        <servlet-name>PharmacyGetServlet</servlet-name>
        <servlet-class>org.example.controller.pharmacy.PharmacyGetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PharmacyGetServlet</servlet-name>
        <url-pattern>/pharmacies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PharmacyDetailServlet</servlet-name>
        <servlet-class>org.example.controller.pharmacy.PharmacyDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PharmacyDetailServlet</servlet-name>
        <url-pattern>/pharmacies/detail/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PharmacyCreateServlet</servlet-name>
        <servlet-class>org.example.controller.pharmacy.PharmacyCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PharmacyCreateServlet</servlet-name>
        <url-pattern>/pharmacies/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PharmacyUpdateServlet</servlet-name>
        <servlet-class>org.example.controller.pharmacy.PharmacyUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PharmacyUpdateServlet</servlet-name>
        <url-pattern>/pharmacies/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PharmacyDeleteServlet</servlet-name>
        <servlet-class>org.example.controller.pharmacy.PharmacyDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PharmacyDeleteServlet</servlet-name>
        <url-pattern>/pharmacies/delete/*</url-pattern>
    </servlet-mapping>

</web-app>
