<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/header :: body"></div>

<div class="container my-5">
    <h3 class="fw-bold mb-4">Аптечка</h3>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <span class="fw-semibold">СОРТИРОВАТЬ:</span>
        <form th:action="@{/pharmacies}" method="get" class="ms-3">
            <select name="sort" class="form-select w-auto" onchange="this.form.submit()">
                <option th:value="purchaseDate" th:selected="${sort == 'purchaseDate'}">По дате покупки</option>
                <option th:value="expirationDate" th:selected="${sort == 'expirationDate'}">По сроку годности</option>
                <option th:value="quantity" th:selected="${sort == 'quantity'}">По количеству</option>
            </select>
            <input type="hidden" name="keyword" th:value="${keyword}">
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
        <div class="col" th:each="pharmacy : ${pharmacyPage.all}">
            <div class="card h-100 shadow-sm">
                <img th:if="${pharmacy.image != null}" th:src="@{${pharmacy.image}}" class="card-img-fixed"
                     alt="Фото лекарства">
                <div class="card-body">
                    <p class="text-success small fw-semibold">Есть в аптечке</p>
                    <h6 class="fw-bold">
                        <a th:href="@{/pharmacies/detail/{id}(id=${pharmacy.id})}"
                           th:text="${pharmacy.medication.name}"
                           class="text-decoration-none text-dark"></a>
                    </h6>
                    <ul class="list-unstyled small text-muted">
                        <li th:text="'Дата покупки: ' + ${pharmacy.purchaseDate}"></li>
                        <li th:text="'Срок годности: ' + ${pharmacy.expirationDate}"></li>
                        <li th:text="'Количество: ' + ${pharmacy.quantity} + ' шт'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav th:if="${pharmacyPage.all != null and pharmacyPage.all.totalPages > 1}" aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">

            <li th:classappend="${pharmacyPage.all.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/pharmacies(page=${pharmacyPage.all.number - 1}, size=${pharmacyPage.all.size}, keyword=${keyword}, sort=${sort})}">‹</a>
            </li>

            <li th:if="${pharmacyPage.all.number > 2}">
                <a class="page-link"
                   th:href="@{/pharmacies(page=0, size=${pharmacyPage.all.size}, keyword=${keyword}, sort=${sort})}">1</a>
            </li>
            <li th:if="${pharmacyPage.all.number > 3}">
                <span class="page-link">...</span>
            </li>

            <li th:each="i : ${#numbers.sequence(pharmacyPage.all.number-2 > 0 ? pharmacyPage.all.number-2 : 0,
                                             pharmacyPage.all.number+2 < pharmacyPage.all.totalPages-1 ? pharmacyPage.all.number+2 : pharmacyPage.all.totalPages-1)}"
                th:classappend="${i == pharmacyPage.all.number} ? 'active'">
                <a class="page-link"
                   th:href="@{/pharmacies(page=${i}, size=${pharmacyPage.all.size}, keyword=${keyword}, sort=${sort})}"
                   th:text="${i+1}"></a>
            </li>

            <li th:if="${pharmacyPage.all.number < pharmacyPage.all.totalPages-4}">
                <span class="page-link">...</span>
            </li>

            <li th:if="${pharmacyPage.all.number < pharmacyPage.all.totalPages-3}">
                <a class="page-link"
                   th:href="@{/pharmacies(page=${pharmacyPage.all.totalPages-1}, size=${pharmacyPage.all.size}, keyword=${keyword}, sort=${sort})}"
                   th:text="${pharmacyPage.all.totalPages}"></a>
            </li>

            <li th:classappend="${pharmacyPage.all.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/pharmacies(page=${pharmacyPage.all.number + 1}, size=${pharmacyPage.all.size}, keyword=${keyword}, sort=${sort})}">›</a>
            </li>

        </ul>
    </nav>


    <h4 class="fw-bold mb-4">Купили недавно</h4>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
        <div class="col" th:each="recently : ${pharmacyPage.recentlyBought}">
            <div class="card h-100 shadow-sm">
                <img th:if="${recently.image != null}"
                     th:src="${recently.image}"
                     class="card-img-fixed"
                     alt="лекарство">
                <div class="card-body">
                    <p class="text-success small fw-semibold">Есть в аптечке</p>
                    <h6 class="fw-bold">
                        <a th:href="@{/pharmacies/detail/{id}(id=${recently.id})}"
                           th:text="${recently.medication.name}"
                           class="text-decoration-none text-dark"></a>
                    </h6>
                    <ul class="list-unstyled small text-muted">
                        <li th:text="'Дата покупки: ' + ${recently.purchaseDate}"></li>
                        <li th:text="'Срок годности: ' + ${recently.expirationDate}"></li>
                        <li th:text="'Количество: ' + ${recently.quantity} + ' шт'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <h4 class="fw-bold mb-4">Заканчивается срок годности</h4>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
        <div class="col" th:each="expiring : ${pharmacyPage.expiringSoon}">
            <div class="card h-100 shadow-sm">
                <img th:if="${expiring.image != null}"
                     th:src="${expiring.image}"
                     class="card-img-fixed" alt="лекарство">
                <div class="card-body">
                    <p class="text-success small fw-semibold">Есть в аптечке</p>
                    <h6 class="fw-bold">
                        <a th:href="@{/pharmacies/detail/{id}(id=${expiring.id})}"
                           th:text="${expiring.medication.name}"
                           class="text-decoration-none text-dark"></a>
                    </h6>
                    <ul class="list-unstyled small text-muted">
                        <li th:text="'Дата покупки: ' + ${expiring.purchaseDate}"></li>
                        <li th:text="'Срок годности: ' + ${expiring.expirationDate}"></li>
                        <li th:text="'Количество: ' + ${expiring.quantity} + ' шт'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
